/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Justificar texto */
.justified {
  text-align: justify;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004080;
  padding: 10px 20px;
  color: white;
}

.logo-container img {
  max-width: 100%;
  width: 150px;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* Map Container */
.map-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Footer */
footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 10px;
}

footer .social-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer .social-icons a:hover {
  text-decoration: underline;
}




